.image-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  gap: 16px;
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: $shadow-xl;
}
// antes con agregarle la clase .image-grid-row-2 a una photo se podia. En este caso como estoy iterando se las agrega a todos

.image-grid-row-2 {
  grid-row: span 2;
}

body {
  background-color: #F3F9FC;

  h1 {
    font-family: $index-card-font;
    margin-top: 48px;
    margin-bottom: 16px;
  }
}

.card-price {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.left {
  width: 50%;
  .show-desc {

    h2{
      font-family: $index-card-font;
      margin-bottom: 16px;
    }
    p{
      font-family: $index-card-font;
      font-size: 16px;
    }
  }

  .line {
    border-top: 3px solid black;
    margin-top: 80px;
  }
}
