<div class="card-trip">
  <img src="https://picsum.photos/200/300" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @postings.name %></h2>
      <h3><%= @postings.cuisine %></h3>
      <p><%= @postings.bio %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= @postings.price %></h2>
  </div>
</div>
