<div class="card-trip">
  <img src="https://picsum.photos/200/300" />
  <div class="card-trip-infos">
    <div>
      <h2><%= posting.name %></h2>
      <h3><%= posting.cuisine %></h3>
      <p><%= posting.bio %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= posting.price %></h2>
  </div>
</div>
