<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">$<%= @postings.price %></h5>
    <p class="card-text">Reviews</p>
    <a href="#" class="btn btn-danger">Reserve</a>
  </div>
</div>
