<%= render 'shared/navbar2' %>
<div class="container-index">
  <h2>MY POSTINGS</h2>
  <div class="index-display">
    <% @postings.each do |posting| %>
        <%= render 'shared/cardposting', posting: posting %>
    <% end %>
  </div>
</div>
