.btn-show {
  color: #E55C85;
  background-color: #E55C85;
  padding: 8px 24px;
  margin: 10px;
  border-radius: 6px;
  font-weight: lighter;
  border: 1px solid black;
  height: 50px;
  width: 100px;
}

.btn-show a {
  color: whitesmoke;
}
