.cards {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  border-radius: 15px;
  padding: 10px;
  margin-top: 16px;
  box-sizing: border-box;
  min-height: 680px;
}

.cards img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.index-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}
