.card {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 16px;
  background-color: #F3F9FC;
  .btn {
    border-radius: 8px;
    width: 100%;
    background-color: #E55C85;
    color: whitesmoke;
  }

  .solid {
    border-top: 2px solid #3d464b;
  }

  .check-form {
    display: flex;
    justify-content: space-between;

    ul {
      margin-top: 16px;
    }
  }

}
